<nav class="navbar navbar-expand-md bg-primary vw-100">
    <div class="container-fluid">
        <a routerLink="/app/home">
            <img src="assets/logo.png" height="40px">
        </a>

        <span *ngIf="login">
            {{ login }}
            <button class="btn btn-primary rounded-circle" (click)="logout.emit()">
                <i class="pi pi-sign-out"></i>
            </button>
        </span>

        <button class="btn btn-primary d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
            <i class="pi pi-bars"></i>
        </button>
    </div>
  </nav>