/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

:root {
    --bs-primary: #70dea9;
    --bs-primary-rgb: 112, 222, 169;
}

html, body {
    font-family: 'Cambria Math', Cambria, 'Times New Roman', serif;
    background: #e8e8e8;
}

label {
    color: grey;
}

.btn {
    font-weight: bold;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #454545;
    --bs-btn-hover-border-color: #454545;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #545454;
    --bs-btn-active-border-color: #545454;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #70dea9;
    --bs-btn-border-color: #70dea9;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #333333;
    --bs-btn-border-color: #333333;
}

i.pi {
    font-size: 0.75em;
    font-weight: bold;
}

.ng-invalid.ng-dirty > .form-floating input,
.ng-invalid.ng-dirty > .form-floating select {
    border-color: red;
}

.btn-danger {
    display: none!important;
}