<div class="offcanvas-md offcanvas-start h-100 bg-white" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-3">
        <ul class="list-group list-group-flush" style="min-width: 250px;">
            <li class="list-group-item my-3" *ngFor="let item of itens">
                <h5>
                    <i *ngIf="item.icon" [className]="item.icon + ' me-2'"></i>
                    {{ item.label }}
                </h5>
                <ul class="list-group list-group-flush" *ngIf="item.subitens">
                    <li class="list-group-item p-0" *ngFor="let subitem of item.subitens">
                        <a class="d-block text-reset px-3 py-2" [routerLink]="subitem.url" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive">
                        <i *ngIf="subitem.icon" [className]="subitem.icon + ' me-2'"></i>
                        {{ subitem.label }}</a>
                    </li>
                  </ul>
            </li>
        </ul>
    </div>
</div>